@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
}

.fondo img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: .4;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #faedcd;
}

.navbar img {
    width: 110px;
}

.navbar a {
    font-size: 1.6em;
    color: #976B59;
    transition: all .2s;
}

.navbar a:hover {
    font-size: 1.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

.img {
    position: relative;
    width: 650px;
    height: 500px;
    object-fit: cover;
    opacity: .7;
    border-radius: 25px;
    z-index: 10;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.parrafo {
    position: absolute;
    top: 64%;
    left: 31%;
    transform: translate(-50%, -50%);
    color: #faedcd;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    z-index: 15;
}

.descripcion {
    font-size: 1.7em;
    line-height: 1.7;
    letter-spacing: 1mm;
    width: 530px;

}

.crear {
    margin-top: 60px;
    font-size: 1.8em;
    width: 490px;
}

.formulario  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form input {
    width: 320px;
    height: 38px;
    margin: 20px;
    padding-left: 10px;
    font-size: 1.1em;
    letter-spacing: .6mm;
    color: #000;
    background: transparent;
    border: none;
    border-bottom: 5px solid #75CCD9;
}

.formulario form input::placeholder {
    font-size: 1.2em;
    color: #000;
}

.boton button {
    font-size: 1.1em;
    letter-spacing: .5mm;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #75CCD9;
    cursor: pointer;
    transition: all .2s;
}

.boton button:hover {
    width: 180px;
    height: 50px;
    font-size: 1.2em;
}