@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
}

.fondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: .4;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #faedcd;
}

.navbar img {
    width: 130px;
}

.navbar a {
    font-size: 1.6em;
    color: #976B59;
    transition: all .2s;
}

.navbar a:hover {
    font-size: 1.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

.img {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 500px;
    opacity: .7;
    border-radius: 25px;
    z-index: 10;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.parrafo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    z-index: 15;
}

.parrafo p {
    padding: 0 50px 40px 50px;
    font-size: 1.4em;
    line-height: 1.7;
    letter-spacing: 1.3mm;
    color: #faedcd;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}


.formulario  {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form h3 {
    font-size: 1.8em;
    color: #976B59;
}

.formulario form input {
    width: 320px;
    height: 38px;
    margin: 20px;
    font-size: 1.1em;
    padding-left: 5px;
    letter-spacing: .6mm;
    color: #000;
    background: transparent;
    border: none;
    border-bottom: 5px solid #653B11;
}

.formulario form input::placeholder {
    font-size: 1.2em;
    color: #976B59;
}

.boton button {
    font-size: 1.1em;
    letter-spacing: .5mm;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #653B11;
    color: #976B59;
    cursor: pointer;
    transition: all .2s;
}

.boton button:hover {
    width: 180px;
    height: 50px;
    font-size: 1.2em;
}

footer {
    position: relative;
    background-color: #faedcd;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}

footer .links { 
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #976B59;
    font-size: 1.8em;
}

.material-symbols-outlined {
    font-size: 1em;
    padding-right: 5px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy p {
    font-size: 1.2em;
    padding-top: 20px;
    letter-spacing: .4mm;
    color: #976B59;
}

@media (max-width: 420px) {
    .navbar {
        padding: 0 10px;
    }
    
    .navbar img {
        width: 80px;
    }
    
    .navbar a {
        font-size: .9em;
    }
    
    .navbar a:hover {
        font-size: 1em;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 40px 10px;
    }
    
    .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        height: 400px;
        opacity: .7;
        z-index: 10;
    }
    
    .img img {
        border-radius: 20px;
        object-fit: cover;
    }
    
    .parrafo {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    
    .parrafo p {
        padding: 0 20px 60px 20px;
        font-size: 1em;
        line-height: 1.7;
        letter-spacing: 1.3mm;
        color: #faedcd;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
    
    
    .formulario  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        z-index: 20;
    }
    
    .formulario form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .formulario form h3 {
        font-size: 1.3em;
    }

    .formulario form input {
        width: 220px;
        height: 30px;
        margin: 20px;
        font-size: 1em;
        letter-spacing: .5mm;
    }
    
    .formulario form input::placeholder {
        font-size: 1em;
    }
    
    .boton button {
        font-size: 1em;
        letter-spacing: .5mm;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        margin-top: 30px;
    }
    
    .boton button:hover {
        width: 145px;
        height: 45px;
        font-size: 1.1em;
    }

    footer {
        padding: 20px 0;
        display: flex;
    }

    .links a {
        font-size: 1.1em;
    }
    
    .copy p {
        font-size: .8em;
        text-align: center;
        padding: 20px 30px 0 30px;
    }
}