@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
}

.fondo img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #faedcd;
}

.navbar img {
    width: 130px;
}

.navbar a {
    font-size: 1.6em;
    color: #976B59;
    transition: all .2s;
}

.navbar a:hover {
    font-size: 1.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

.img {
    position: relative;
    width: 700px;
    height: 500px;
    opacity: .7;
    border-radius: 25px;
    z-index: 10;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.parrafo {
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: #faedcd;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    z-index: 15;
}

.descripcion {
    font-size: 1.7em;
    line-height: 1.7;
    letter-spacing: 1.5mm;
    width: 590px;

}

.crear {
    margin-top: 80px;
    letter-spacing: 1.2mm;
    font-size: 1.6em;
    width: 660px;
}

.formulario  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form input {
    width: 320px;
    height: 38px;
    margin: 20px;
    padding-left: 10px;
    font-size: 1.1em;
    letter-spacing: .6mm;
    color: #000;
    background: transparent;
    border: none;
    border-bottom: 5px solid #75CCD9;
}

.formulario form input::placeholder {
    font-size: 1.2em;
    color: #000;
}

.boton button {
    font-size: 1.1em;
    letter-spacing: .5mm;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #75CCD9;
    cursor: pointer;
    transition: all .2s;
}

.boton button:hover {
    width: 180px;
    height: 50px;
    font-size: 1.2em;
}

/* @media (max-width: 420px) {
    .fondo img{
        position: absolute;
        width: 100vw;
        height: 155vh;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .4;
        z-index: 5;
    }
    
    .navbar {
        padding: 0 20px;
    }
    
    .navbar img {
        width: 70px;
    }
    
    .navbar a {
        font-size: 1em;
    }
    
    .navbar a:hover {
        font-size: 1.1em;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0;
    }
    
    .img {
        width: 310px;
        height: 500px;
    }
    
    .img img {
        border-radius: 20px;
        object-fit: cover;
    }
    
    .parrafo {
        position: absolute;
        top: 60%;
        left: 51%;
        transform: translate(-50%, -50%);
        color: #faedcd;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
        z-index: 15;
    }
    
    .descripcion {
        font-size: 1.2em;
        line-height: 1.7;
        letter-spacing: 1.5mm;
        width: 270px;
        text-align: center;
    }
    
    .crear {
        margin-top: 60px;
        letter-spacing: 1.2mm;
        font-size: 1.2em;
        line-height: 1.4;
        text-align: center;
        width: 280px;
    }
    
    .formulario form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    
    .formulario form input {
        width: 260px;
        height: 30px;
        margin: 25px;
        font-size: 1em;
        letter-spacing: .5mm;
    }
    
    .formulario form input::placeholder {
        font-size: 1.1em;
    }
    
    .boton button {
        font-size: 1em;
        width: 140px;
        height: 35px;
        margin-top: 40px;
    }
    
    .boton button:hover {
        width: 150px;
        height: 40px;
        font-size: 1.2em;
    }
} */